@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:host(#krab-ext) {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999999999;
    border-radius: 5px;
}

*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font: inherit;
    user-select: none;
    text-align: initial;
    color: #000;
}

img,
button,
input {
    background: none;
    outline: none;
    border: none;
}

img {
    max-width: 20px;
    /* max-height: 20px; */
}

button {
    width: fit-content;
}

button:has(img) {
    text-decoration: none;
    line-height: 0;
    border: none;
    outline: none;
    border-radius: 5px;
}

img:hover,
img:hover::after,
img:hover::before {
    background: none;
    background-color: none;
    box-shadow: none;
    filter: invert(0.5);
}

button:hover,
button:hover::after,
button:hover::before {
    background: none;
    box-shadow: none;
    cursor: pointer;
}

/*************** bulk component styles ******************/
.bulk {
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999999999991;
    border-radius: 5px;
    max-width: 300px;
    height: 90%;
    background-color: #5505;
    backdrop-filter: blur(50px);
    padding-top: 50px;
}
.bulk-cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    background: none;
    outline: none;
    border: none;
    user-select: none;
}

.bulk-cancel-button:hover {
    filter: invert(0.5);
    cursor: pointer;
}
.bulk-wrapper {
    height: 100%;
    overflow-y: scroll;
}
.bulk img {
    width: 100%;
    border-radius: 10px;
}
.bulk .cancel-img {
    max-width: 20px;
    max-height: 20px;
}
.check {
    cursor: pointer;
}
.bulk-pic {
    max-width: 50%;
    padding: 5px;
}
.bulk-pic:hover {
    cursor: pointer;
    filter: brightness(0.5);
}
.bulk-pic[data-toggle="1"] {
    filter: brightness(0.3);
}

/*************** scrollbar component styles ******************/

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #0002;
    backdrop-filter: blur(10px);
}
::-webkit-scrollbar-thumb {
    background: #1459;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #022;
}
