@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:host(#krab-ext) {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999999999;
    border-radius: 5px;
    color-scheme: light dark;
    color: #ddd;
}

*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font: inherit;
    user-select: none;
    text-align: initial;
}

img,
button,
input {
    background: none;
    outline: none;
    border: none;
}

img {
    max-width: 20px;
    /* max-height: 20px; */
}

button {
    width: fit-content;
}

button:has(img) {
    text-decoration: none;
    line-height: 0;
    border: none;
    outline: none;
    border-radius: 5px;
}

img:hover,
img:hover::after,
img:hover::before {
    background: none;
    background-color: none;
    box-shadow: none;
    filter: invert(0.5);
}

button:hover,
button:hover::after,
button:hover::before {
    background: none;
    box-shadow: none;
    cursor: pointer;
}

/*************** main component styles ******************/
.status-wrapper {
    max-height: 500px;
    width: 300px;
    overflow-y: scroll;
    background: none;
}

.main {
    position: relative;
    padding: 20px;
    box-shadow: 0 0 10px 1px #0005;
    border-radius: 5px;
    height: 100px;
    max-width: 350px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}
.done-button {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translate(0%, -50%);
}

.cancel-button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 16px;
}

.selection {
    width: 200px;
    max-height: 150px;
    position: relative;
}
.list {
    display: none;
    position: absolute;
    top: 0px;
    right: 351px;
    border-radius: 5px;
    width: 200px;
    background: #fff;
    box-shadow: 0 0 5px 1px #0005;
}

.selected,
.search {
    width: 100%;
    height: 35px;
    padding: 5px;
    padding-right: 30px;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    color: inherit;
}

.search::placeholder {
    color: #444;
}

.selected {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
}

.status {
    margin-left: auto;
    width: 300px;
    padding: 10px;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: left;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #0005;
    margin-bottom: 5px;
}
.pic {
    max-width: 45px;
    min-height: 45px;
    object-fit: cover;
    border-radius: 5px;
}
.main .pic {
    max-width: 60px;
    min-height: 60px;
}
.status-text {
    width: 100%;
    text-decoration: none;
}
.status-img {
    max-width: 24px;
    max-height: 24px;
    background: none;
    box-shadow: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    filter: none;
    display: none;
}
.pic:hover,
.status-img:hover {
    filter: none;
}
@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.img-progress {
    display: initial;
    animation: spin 1.5s linear 0s infinite;
}

.menu-img {
    max-width: 30px;
    max-height: 30px;
}

.cancel-img {
    max-width: 16px;
    max-height: 16px;
}

.root-button {
    color: #d00;
}
.root-button:hover {
    color: #0005;
}

.add-button,
.send-button,
.dir-progress {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translate(0%, -50%);
}
.send-button,
.dir-progress {
    display: none;
}
@keyframes spin2 {
    100% {
        transform: translate(0%, -50%) rotate(360deg);
    }
}
.dir-progress {
    filter: none;
    animation: spin2 1.5s linear 0s infinite;
}

.recents,
.parents,
.childs {
    background-color: #fff;
    display: none;
    overflow-y: scroll;
    position: absolute;
    top: 35px;
    max-height: 300px;
    min-width: 200px;
    box-shadow: 0 0 5px 1px #0005;
    border-radius: 0px 0px 5px 5px;
}

.option {
    width: 100%;
    padding: 5px 5px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: none;
}
.option:hover {
    background-color: #0005;
}
.options * {
    user-select: none;
}

/*************** bulk component styles ******************/
.bulk {
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999999999991;
    border-radius: 5px;
    max-width: 300px;
    height: 90%;
    background-color: #5505;
    backdrop-filter: blur(50px);
    padding-top: 50px;
}
.count {
    position: absolute;
    top: 10px;
    left: 10px;
}
.count span {
    padding-right: 50px;
}
.bulk-cancel-button,
.bulk-ok-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    background: none;
    outline: none;
    border: none;
    user-select: none;
}
.bulk-ok-button {
    right: 75px;
}
.bulk-cancel-button:hover,
.bulk-ok-button:hover {
    filter: invert(0.5);
    cursor: pointer;
}
.bulk-wrapper {
    height: 100%;
    overflow-y: scroll;
}
.bulk img {
    width: 100%;
    border-radius: 10px;
}
.bulk .cancel-img {
    max-width: 20px;
    max-height: 20px;
}
.check {
    cursor: pointer;
}
.bulk-pic {
    max-width: 50%;
    padding: 5px;
}
.bulk-pic:hover {
    cursor: pointer;
    filter: brightness(0.5);
}
.bulk-pic[data-toggle="1"] {
    filter: brightness(0.3);
}

/*************** scrollbar component styles ******************/

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #0002;
    backdrop-filter: blur(10px);
}
::-webkit-scrollbar-thumb {
    background: #1459;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #022;
}

@media (prefers-color-scheme: light) {
    :host(#krab-ext) {
        color: #000;
    }
}
