* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
}
.loginWrapper {
    width: 150px;
    padding: 0.5rem;
    background-color: #999;
}
.loginForm {
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
input,
button {
    font: inherit;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    border: none;
}
button:hover {
    cursor: pointer;
    background-color: #fffa;
}
