* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
}
.connection {
    width: max-content;
}
.connection *:hover {
    background-color: #0555;
}
.login,
.logout {
    text-decoration: none;
    border: none;
    background-color: #0557;
    padding: 5px;
    cursor: pointer;
}
